.canvas1 {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 500px;
  border: 4px solid rgb(180, 223, 255);
  border-radius: 15px;

  background-image: url("../public/assets/saf.gif");
}

.body {
  background-image: url("../public/assets/saf.gif");
}
.address {
  color: #464646;
  padding: 1rem;
  width: fit-content;
  margin-left: 0.6rem;
  border-radius: 15px;
  background: linear-gradient(
    243deg,
    rgba(180, 223, 255, 1) 0%,
    rgba(239, 252, 255, 1) 100%
  );
}
.Edit {
  width: 30px;
}
.Edit:hover {
  scale: 0.8;
  transition: 0.2s all;
  cursor: pointer;
}

.sliderContainer h2 {
  margin-top: 1rem;
  margin-bottom: 0rem;
}
.sliderContainer {
  width: 500px;

  display: flex;
  flex-direction: column;
  z-index: 99;

  text-align: center;
  font-size: 1.2rem;
  color: #464646;
  border-radius: 15px;
  background: linear-gradient(
    243deg,
    rgba(180, 223, 255, 1) 0%,
    rgba(239, 252, 255, 1) 100%
  );
}
.legend {
  font-style: italic;
  width: fit-content;
  margin-left: 0.6rem;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.Quotes {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.warning {
  z-index: 99;

  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1.2px;
}
@media only screen and (max-width: 1366px) {
  .peripheral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.exit {
  height: 30px;
  width: 30px;
  background: #006680;
  border: 1px solid black;
  border-radius: 50px;
  position: Absolute;
  top: -30px;
  z-index: 50;
  right: -15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.exit:after {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  background: transparent;
  border-radius: 50px;
  position: absolute;
  top: 5px;
  left: 3.8px;

  border: 3px solid orange;
  border-top-color: transparent;
}

.exit:before {
  content: "";
  display: block;
  height: 10px;
  width: 3px;
  background: orange;
  z-index: 70;
  position: Absolute;
  right: 12.5px;
  top: 6px;
}
.circle {
  height: 40px;
  width: 40px;
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  position: absolute;
  top: -35px;
  z-index: 40;
  right: -20px;
}

.exit:hover {
  background: #7a0000;
}

.allthethings {
  width: 0px;
  height: 0px;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: px;
  position: relative;
  margin: auto;
  top: 5px;
  left: 2px;

  font-family: Ubuntu;
  font-weight: 700;
}

.single {
  position: relative;
  bottom: 330px;
  right: 300px;
  height: 50px;
  width: 600px;
  margin-bottom: 3rem;
  background: #006680;
  text-align: center;
  font-size: 30px;
  border-radius: 15px;
  background-size: 1px 300%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: orange;
  cursor: pointer;
}

.single:hover {
  background: #7a0000;
  color: white;
  -webkit-transform: rotate(-1deg);
  transform: rotate(-2deg);
}

.credits:hover {
  background: #7a0000;
  color: white;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.options:hover {
  background: #7a0000;
  color: white;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.left {
  height: 100px;
  width: 600px;
  background: #004c92;
  position: absolute;
  z-index: 6;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -175px;
  right: -104px;
  /* border-top: 1px solid white; */
}
.right {
  height: 100px;
  width: 600px;
  background: #004c92;
  position: absolute;
  top: -229px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 7;
  left: -56px;
}

.single p {
  position: relative;
  top: 2px;
  right: 4px;
}

.options {
  height: 50px;
  width: 500px;
  border-radius: 15px;
  background: #006680;
  position: relative;
  bottom: 360px;
  right: 250px;
  font-size: 30px;
  text-align: center;
  color: orange;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.options p {
  position: relative;
  top: 0px;
  right: 4px;
}

.credits {
  height: 50px;
  width: 400px;
  position: relative;
  border-radius: 15px;
  background: #006680;
  bottom: 375px;
  font-size: 30px;
  right: 200px;
  text-align: center;
  color: orange;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.credits p {
  position: relative;
  top: 0px;
}

.box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 800px;
  height: 600px;
  /* background-color: #ddfff7; */
  z-index: -2;
}
.box:after,
.box:before {
  content: "";
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 780px;
  height: 570px;
  /* z-index: -1; */
  filter: none;
  mix-blend-mode: multiply;
  animation: border 10s ease-in-out infinite;
}
@keyframes border {
  0%,
  100% {
    -webkit-clip-path: polygon(
      0 0,
      calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 100%,
      calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
    );
    clip-path: polygon(
      0 0,
      calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 100%,
      calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
    );
  }
  50% {
    -webkit-clip-path: polygon(
      calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 0,
      calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
      0 100%
    );
    clip-path: polygon(
      calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 0,
      calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
      0 100%
    );
  }
}

.box:after {
  animation-delay: -5s;
  background-color: rgb(255, 71, 71);
  clip-path: polygon(
    0 0,
    calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
    100% 100%,
    calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
  );
}
.box:before {
  background-color: rgb(0, 16, 240);
  clip-path: polygon(
    calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
    100% 0,
    calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
    0 100%
  );
}

.box:before,
.box:after {
  animation-duration: 0.4s;
}
